.contactmain{
    /* margin: 8rem 0; */
    padding: 108px 0;
    background-color: #e8ddd4;
}
.contact-parent{
   
    display: flex !important;
    justify-content: center!important;
    align-items: flex-start;
    flex-direction: column !important;

}
.contact-parent p{
    text-align: justify;
    font-size: 15px;
}
.contact-parent h2{
    text-align: left !important;
    color: rgb(7, 7, 7);
    
    
}
.contact-icon .mail{
    font-size: 5rem;
    color: #ebd10a;

}
.contactform{
    width: 100%;
}
.contactform  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 2px solid #0d0c0c;
    border-radius: 3px;
    transition: border-color 0.2s ease-in-out;
  }
  
 
  
  .contactform input[type="submit"] {
    background-color:#ebd10a;
    font-size: 20px;
    color: rgb(9, 9, 9);
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 3px;
  }
  
  
  .textarea{
    width: 100%;
    border: 2px solid black;
    padding: 10px;
  }